*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    width: 100%;
    height: 100vh;
  }
.backImg{
    width: 100%;
    height: 90%;
    margin: auto;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1499092346589-b9b6be3e94b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80")no-repeat center center/cover;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   
     
}
.textSection{
    width: 80%;
    margin: auto;
}
.textcenter{
    background-color: whitesmoke;
    width: 80%;
    margin: auto;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 6px 6px rgba(0,0,0,0.5);
    padding: 0 0.3rem;
}
.button{
    width: 80%;
    margin: auto;
}
.btn-submit{
    width: 6rem;
    height: 2rem;
    margin: auto;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 2px 8px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-submit:hover{
    background-color:#4a69bd;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}


@media(max-width:850px){
.textcenter{
    padding: 0 1rem;
}
}

@media(max-width:600px){
    .textcenter{
       font-size: 1.2rem;
    }
    }

    @media(max-width:400px){
        .textcenter{
           font-size: 1rem;
        }

        .btn-submit{
            font-size: 0.8rem;
        }
        .btn-submit:hover{
            font-size: 1rem;
        }
        }